/* reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {margin:0; padding:0;}
li {list-style: none;}
a {text-decoration: none;}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* nav */
#nav {position: fixed; left: 0; top: 0; width: 100%; background-color: rgba(122, 122, 122, 0.1);}
#nav h1 {float: left; color: rgb(255, 255, 255); font-size: 30px; padding: 5px 5px 5px 50px; font-family: 'Noto Sans KR' }
#nav .bnr {margin: 11px 0 0 35px; max-height: 80px; width: auto;}
#nav .menu {float: right; padding-right: 100px; }
#nav .menu li {display: inline; }
#nav .menu li a {display: inline-block; font-size: 30px; padding: 35px 15px 25px 15px; color: rgb(173, 172, 172); font-weight: 200; font-family: 'Noto Sans KR'; text-transform: capitalize;}
#nav .menu li.active a {color: rgb(255, 255, 255);}
#nav .mNav {display: none; position: absolute; top: 30px; right: 10px; width: 65px; height: 45px; cursor: pointer;/*background-color: rgba(255,255,255,0.3);*/}

/* icon-menu */
.icon-wrap {padding-left: 10px;}
.icon-wrap .icon, 
.icon-wrap .icon:before, 
.icon-wrap .icon:after {width: 45px; height: 4px; background: rgb(255, 255, 255);}
.icon-wrap .icon {position: relative; margin-top:20px;}
.icon-wrap .icon:before {content:'';position: absolute; left: 0; bottom: 10px; }
.icon-wrap .icon:after {content:''; position: absolute; left: 0; top: 10px;}

/* contents */
#contents {text-align: center; color: rgb(0, 0, 0);}
#contents > div {height: 100vh;}
#contents > div h2 {font-size: 90px; font-weight: 200; text-transform: uppercase;}
#contents > div h3 {font-size: 30px; font-weight: 200; text-transform: uppercase;}
#contents > div h2 strong {font-weight: 700; font-style: italic;}
#contents .textandcon {padding-top: 50vh;}

/* section */
#section1 {background-image : url('src/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
#section2 {background-image : url('src/about.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
#section3 {background-image : url('src/service.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
#section4 {background-image : url('src/news.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
#section5 {background-image : url('src/future.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
#section6 {color: white; background-color: black;}
/*MAIN contents box in section*/
#contsbox {height: 100%; width: 100%; margin: 0 auto; background: rgba(197, 197, 197, 0); }
/* footer */
#footer00 {background:rgb(0, 0, 0); text-align: center; font-family: 'Noto Sans KR'; color: white; padding: 20px 5px; font-weight: 200;}
.footer01 {background:rgb(0, 0, 0); text-align: center; font-family: 'Noto Sans KR'; color: white; padding: 5px 5px; font-weight: 200;}
.footer02 {background:rgb(0, 0, 0); text-align: center; font-family: 'Noto Sans KR'; color: rgb(133, 133, 133); padding: 10px 5px; font-size: smaller; font-weight: 200;}
/* mediaquery */
@media (max-width:980px){
    #nav .menu {display: none;}
    #nav .mNav {display: block;}
    
    #nav h1 {width: 100%;}
    #nav .menu {float: none; text-align: center; padding-right: 0;}
    #nav .menu li {width: 100%; display: inline-block;}
    #nav .menu li.active {background-color: rgba(255,255,255,0.3);}
    
    #contents > div h2 {font-size: 6vw; font-weight: 300;}
}
